{:remove-surrounding-whitespace?        true
 :remove-trailing-whitespace?           true
 :remove-consecutive-blank-lines?       true
 :insert-missing-whitespace?            true
 :remove-multiple-non-indenting-spaces? true
 :split-keypairs-over-multiple-lines?   false
 :sort-ns-references                    true
 :align-associative?                    true
 :parallel?                             true}