{:hfx {:bvb 1, :xhk 1, :rhn 1, :pzl 1, :ntq 1},
 :jqt {:xhk 1, :nvd 1, :rhn 1, :ntq 1},
 :cmg {:bvb 1, :nvd 1, :lhk 1, :qnr 1, :rzs 1},
 :bvb {:hfx 1, :cmg 1, :xhk 1, :rhn 1, :ntq 1},
 :rsh {:lsr 1, :pzl 1, :frs 1, :rzs 1},
 :xhk {:hfx 1, :jqt 1, :bvb 1, :rhn 1, :ntq 1},
 :nvd {:jqt 1, :cmg 1, :pzl 1, :lhk 1, :qnr 1},
 :rhn {:hfx 1, :jqt 1, :bvb 1, :xhk 1},
 :lsr {:rsh 1, :pzl 1, :lhk 1, :frs 1, :rzs 1},
 :pzl {:hfx 1, :rsh 1, :nvd 1, :lsr 1},
 :lhk {:cmg 1, :nvd 1, :lsr 1, :frs 1},
 :ntq {:hfx 1, :jqt 1, :bvb 1, :xhk 1},
 :qnr {:cmg 1, :nvd 1, :frs 1, :rzs 1},
 :frs {:rsh 1, :lsr 1, :lhk 1, :qnr 1},
 :rzs {:cmg 1, :rsh 1, :lsr 1, :qnr 1}}
